In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [136]:
import pandas as pd

df = pd.read_csv("MarketHealthIndex_City.csv", engine="python")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10275 entries, 0 to 10274
Data columns (total 19 columns):
RegionType              10275 non-null object
RegionName              10275 non-null object
City                    10275 non-null object
State                   10275 non-null object
Metro                   9757 non-null object
CBSATitle               9757 non-null object
SizeRank                10093 non-null float64
MarketHealthIndex       10275 non-null float64
SellForGain             6911 non-null float64
PrevForeclosed          1419 non-null float64
ForeclosureRatio        2266 non-null float64
ZHVI                    10103 non-null float64
MoM                     10103 non-null float64
YoY                     10103 non-null float64
ForecastYoYPctChange    7868 non-null float64
StockOfREOs             0 non-null float64
NegativeEquity          9034 non-null float64
Delinquency             9034 non-null float64
DaysOnMarket            10064 non-null float64
dtypes: float64(13), object(6)
memory usage: 1.3+ MB

In [137]:
df = df.drop(['PrevForeclosed','ForeclosureRatio','StockOfREOs'],axis=1)

In [138]:
df1 = pd.read_csv("City_Zri_AllHomesPlusMultifamily_Summary.csv", engine="python")
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13091 entries, 0 to 13090
Data columns (total 11 columns):
Date            13091 non-null object
RegionName      13091 non-null object
State           13091 non-null object
Metro           11834 non-null object
County          13091 non-null object
SizeRank        13091 non-null int64
Zri             13091 non-null int64
MoM             13091 non-null float64
QoQ             13091 non-null float64
YoY             13091 non-null float64
ZriRecordCnt    13091 non-null int64
dtypes: float64(3), int64(3), object(5)
memory usage: 869.4+ KB

In [139]:
df1 = df1.drop(['Date', 'State', 'Metro', 'County', 'SizeRank', 'MoM', 'YoY', 'ZriRecordCnt'],axis=1)

In [140]:
# merge 
df = df.merge(df1, on="RegionName", how="inner", left_index=True, right_index=True)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10275 entries, 0 to 10274
Data columns (total 18 columns):
RegionType              10275 non-null object
RegionName              10275 non-null object
City                    10275 non-null object
State                   10275 non-null object
Metro                   9757 non-null object
CBSATitle               9757 non-null object
SizeRank                10093 non-null float64
MarketHealthIndex       10275 non-null float64
SellForGain             6911 non-null float64
ZHVI                    10103 non-null float64
MoM                     10103 non-null float64
YoY                     10103 non-null float64
ForecastYoYPctChange    7868 non-null float64
NegativeEquity          9034 non-null float64
Delinquency             9034 non-null float64
DaysOnMarket            10064 non-null float64
Zri                     10275 non-null int64
QoQ                     10275 non-null float64
dtypes: float64(11), int64(1), object(6)
memory usage: 1.3+ MB

,RegionType,RegionName,City,State,Metro,CBSATitle,SizeRank,MarketHealthIndex,SellForGain,ZHVI,MoM,YoY,ForecastYoYPctChange,NegativeEquity,Delinquency,DaysOnMarket,Zri,QoQ
0,City,New York,New York,NY,"New York, NY","""New York-Newark-Jersey City, NY-NJ-PA""",0.0,7.818005,95.73,655109.0,0.131601,6.121117,0.033805,0.067888,0.099894,172.0,2309,-0.008162
1,City,Los Angeles,Los Angeles,CA,"Los Angeles-Long Beach-Anaheim, CA","""Los Angeles-Long Beach-Anaheim, CA""",1.0,8.531387,96.37,674140.0,0.641494,9.368181,0.043642,0.054472,0.031304,68.0,2862,0.011665
2,City,Chicago,Chicago,IL,"Chicago, IL","""Chicago-Naperville-Elgin, IL-IN-WI""",2.0,0.547932,81.92,226073.0,0.075254,2.995941,0.029194,0.228914,0.040973,119.0,1638,-0.007874
3,City,Houston,Houston,TX,"Houston, TX","""Houston-The Woodlands-Sugar Land, TX""",3.0,7.166910,80.00,176266.0,0.751639,7.070572,0.050481,NaN,NaN,95.0,1439,0.002787
4,City,Philadelphia,Philadelphia,PA,"Philadelphia, PA","""Philadelphia-Camden-Wilmington, PA-NJ-DE-MD""",4.0,4.831144,87.60,145291.0,0.679089,13.484656,0.053369,0.148187,0.074887,103.0,1229,0.004906

In [141]:
df2 = pd.read_csv("BreakEven_2017-03.csv", engine="python")
df2 = df2[(df2.RegionType!='Neighborhood')]
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10295 entries, 0 to 10606
Data columns (total 14 columns):
RegionType     10295 non-null object
RegionID       10295 non-null int64
RegionName     10295 non-null object
SizeRank       10295 non-null int64
City           10295 non-null object
CountyName     10295 non-null object
Metro          9710 non-null object
CBSATitle      9710 non-null object
StateName      10295 non-null object
BEPropCount    10295 non-null int64
SampleRate     10295 non-null float64
MedBE          10295 non-null float64
Breakeven      10295 non-null object
MedPR          10295 non-null float64
dtypes: float64(3), int64(3), object(8)
memory usage: 884.7+ KB

In [142]:
df2 = df2.drop(['RegionType', 'RegionID', 'SizeRank', 'City', 'CountyName', 'Metro', 'CBSATitle', 'StateName', 'Breakeven'],axis=1)

In [143]:
df = df.merge(df2, on="RegionName", how="inner", left_index=True, right_index=True)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9964 entries, 0 to 10274
Data columns (total 22 columns):
RegionType              9964 non-null object
RegionName              9964 non-null object
City                    9964 non-null object
State                   9964 non-null object
Metro                   9468 non-null object
CBSATitle               9468 non-null object
SizeRank                9782 non-null float64
MarketHealthIndex       9964 non-null float64
SellForGain             6714 non-null float64
ZHVI                    9792 non-null float64
MoM                     9792 non-null float64
YoY                     9792 non-null float64
ForecastYoYPctChange    7630 non-null float64
NegativeEquity          8759 non-null float64
Delinquency             8759 non-null float64
DaysOnMarket            9762 non-null float64
Zri                     9964 non-null int64
QoQ                     9964 non-null float64
BEPropCount             9964 non-null int64
SampleRate              9964 non-null float64
MedBE                   9964 non-null float64
MedPR                   9964 non-null float64
dtypes: float64(14), int64(2), object(6)
memory usage: 1.5+ MB

,RegionType,RegionName,City,State,Metro,CBSATitle,SizeRank,MarketHealthIndex,SellForGain,ZHVI,...,ForecastYoYPctChange,NegativeEquity,Delinquency,DaysOnMarket,Zri,QoQ,BEPropCount,SampleRate,MedBE,MedPR
0,City,New York,New York,NY,"New York, NY","""New York-Newark-Jersey City, NY-NJ-PA""",0.0,7.818005,95.73,655109.0,...,0.033805,0.067888,0.099894,172.0,2309,-0.008162,2951,0.901,2.041934,8.401079
1,City,Los Angeles,Los Angeles,CA,"Los Angeles-Long Beach-Anaheim, CA","""Los Angeles-Long Beach-Anaheim, CA""",1.0,8.531387,96.37,674140.0,...,0.043642,0.054472,0.031304,68.0,2862,0.011665,2936,0.770,3.401921,13.123340
2,City,Chicago,Chicago,IL,"Chicago, IL","""Chicago-Naperville-Elgin, IL-IN-WI""",2.0,0.547932,81.92,226073.0,...,0.029194,0.228914,0.040973,119.0,1638,-0.007874,2912,0.676,1.602701,10.223009
3,City,Houston,Houston,TX,"Houston, TX","""Houston-The Woodlands-Sugar Land, TX""",3.0,7.166910,80.00,176266.0,...,0.050481,NaN,NaN,95.0,1439,0.002787,1645,1.000,1.889988,12.870190
4,City,Philadelphia,Philadelphia,PA,"Philadelphia, PA","""Philadelphia-Camden-Wilmington, PA-NJ-DE-MD""",4.0,4.831144,87.60,145291.0,...,0.053369,0.148187,0.074887,103.0,1229,0.004906,3083,0.314,2.000006,10.600988

In [144]:
df = df.reset_index()
df.drop('index', axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9964 entries, 0 to 9963
Data columns (total 22 columns):
RegionType              9964 non-null object
RegionName              9964 non-null object
City                    9964 non-null object
State                   9964 non-null object
Metro                   9468 non-null object
CBSATitle               9468 non-null object
SizeRank                9782 non-null float64
MarketHealthIndex       9964 non-null float64
SellForGain             6714 non-null float64
ZHVI                    9792 non-null float64
MoM                     9792 non-null float64
YoY                     9792 non-null float64
ForecastYoYPctChange    7630 non-null float64
NegativeEquity          8759 non-null float64
Delinquency             8759 non-null float64
DaysOnMarket            9762 non-null float64
Zri                     9964 non-null int64
QoQ                     9964 non-null float64
BEPropCount             9964 non-null int64
SampleRate              9964 non-null float64
MedBE                   9964 non-null float64
MedPR                   9964 non-null float64
dtypes: float64(14), int64(2), object(6)
memory usage: 1.4+ MB

In [145]:
df3 = pd.read_csv("NESummary_2017Q1_Public.csv", engine="python")
df3 = df3[(df3.RegionType=='City')]
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16858 entries, 3185 to 20042
Data columns (total 8 columns):
RegionType                                     16858 non-null object
RegionName                                     16858 non-null object
Total Amount of Negative Equity (Millions)     16858 non-null float64
Total Number of Homes in Negative Equity       16858 non-null float64
Negative Equity Percent of Homes w/Mortgage    16858 non-null float64
Number of Homes at Least 90 Days Late          16858 non-null float64
Negative Equity Deliquency Rate(%)             16858 non-null float64
Effective Negative Equity Rate                 16858 non-null float64
dtypes: float64(6), object(2)
memory usage: 1.0+ MB

In [146]:
df3 = df3.drop(['RegionType', 'Negative Equity Percent of Homes w/Mortgage', 'Number of Homes at Least 90 Days Late', 'Effective Negative Equity Rate'],axis=1)

In [147]:
df3=df3.reset_index()
df3.drop('index', axis=1, inplace=True)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16858 entries, 0 to 16857
Data columns (total 4 columns):
RegionName                                    16858 non-null object
Total Amount of Negative Equity (Millions)    16858 non-null float64
Total Number of Homes in Negative Equity      16858 non-null float64
Negative Equity Deliquency Rate(%)            16858 non-null float64
dtypes: float64(3), object(1)
memory usage: 461.0+ KB

In [151]:
df = df.merge(df3, how="left", on="RegionName", left_index=True, right_index=True)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9964 entries, 0 to 9963
Data columns (total 25 columns):
RegionType                                    9964 non-null object
RegionName                                    9964 non-null object
City                                          9964 non-null object
State                                         9964 non-null object
Metro                                         9468 non-null object
CBSATitle                                     9468 non-null object
SizeRank                                      9782 non-null float64
MarketHealthIndex                             9964 non-null float64
SellForGain                                   6714 non-null float64
ZHVI                                          9792 non-null float64
MoM                                           9792 non-null float64
YoY                                           9792 non-null float64
ForecastYoYPctChange                          7630 non-null float64
NegativeEquity                                8759 non-null float64
Delinquency                                   8759 non-null float64
DaysOnMarket                                  9762 non-null float64
Zri                                           9964 non-null int64
QoQ                                           9964 non-null float64
BEPropCount                                   9964 non-null int64
SampleRate                                    9964 non-null float64
MedBE                                         9964 non-null float64
MedPR                                         9964 non-null float64
Total Amount of Negative Equity (Millions)    9964 non-null float64
Total Number of Homes in Negative Equity      9964 non-null float64
Negative Equity Deliquency Rate(%)            9964 non-null float64
dtypes: float64(17), int64(2), object(6)
memory usage: 1.7+ MB

,RegionType,RegionName,City,State,Metro,CBSATitle,SizeRank,MarketHealthIndex,SellForGain,ZHVI,...,DaysOnMarket,Zri,QoQ,BEPropCount,SampleRate,MedBE,MedPR,Total Amount of Negative Equity (Millions),Total Number of Homes in Negative Equity,Negative Equity Deliquency Rate(%)
0,City,New York,New York,NY,"New York, NY","""New York-Newark-Jersey City, NY-NJ-PA""",0.0,7.818005,95.73,655109.0,...,172.0,2309,-0.008162,2951,0.901,2.041934,8.401079,-12214.299600,36368.84129,0.099894
1,City,Los Angeles,Los Angeles,CA,"Los Angeles-Long Beach-Anaheim, CA","""Los Angeles-Long Beach-Anaheim, CA""",1.0,8.531387,96.37,674140.0,...,68.0,2862,0.011665,2936,0.770,3.401921,13.123340,-5550.635268,21073.47042,0.031304
2,City,Chicago,Chicago,IL,"Chicago, IL","""Chicago-Naperville-Elgin, IL-IN-WI""",2.0,0.547932,81.92,226073.0,...,119.0,1638,-0.007874,2912,0.676,1.602701,10.223009,-10957.203940,71990.68641,0.040973
3,City,Houston,Houston,TX,"Houston, TX","""Houston-The Woodlands-Sugar Land, TX""",3.0,7.166910,80.00,176266.0,...,95.0,1439,0.002787,1645,1.000,1.889988,12.870190,-2761.433342,27566.33748,0.074887
4,City,Philadelphia,Philadelphia,PA,"Philadelphia, PA","""Philadelphia-Camden-Wilmington, PA-NJ-DE-MD""",4.0,4.831144,87.60,145291.0,...,103.0,1229,0.004906,3083,0.314,2.000006,10.600988,-2942.189050,24419.18605,0.020693

In [152]:
df.to_csv('DataMerged.csv', header=True, index=True)

In [4]:
import pandas as pd

data = pd.read_csv("DataMerged.csv", engine="python")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9964 entries, 0 to 9963
Data columns (total 26 columns):
Unnamed: 0                                    9964 non-null int64
RegionType                                    9964 non-null object
RegionName                                    9964 non-null object
City                                          9964 non-null object
State                                         9964 non-null object
Metro                                         9468 non-null object
CBSATitle                                     9468 non-null object
SizeRank                                      9782 non-null float64
MarketHealthIndex                             9964 non-null float64
SellForGain                                   6714 non-null float64
ZHVI                                          9792 non-null float64
MoM                                           9792 non-null float64
YoY                                           9792 non-null float64
ForecastYoYPctChange                          7630 non-null float64
NegativeEquity                                8759 non-null float64
Delinquency                                   8759 non-null float64
DaysOnMarket                                  9762 non-null float64
Zri                                           9964 non-null int64
QoQ                                           9964 non-null float64
BEPropCount                                   9964 non-null int64
SampleRate                                    9964 non-null float64
MedBE                                         9964 non-null float64
MedPR                                         9964 non-null float64
Total Amount of Negative Equity (Millions)    9964 non-null float64
Total Number of Homes in Negative Equity      9964 non-null float64
Negative Equity Deliquency Rate(%)            9964 non-null float64
dtypes: float64(17), int64(3), object(6)
memory usage: 1.7+ MB